<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/main">
<head>
<title>List Post</title>

<body>

<div layout:fragment="content">

<h2 th:text="#{heading.posts}">Posts</h2>
<div th:if="${message}" class="alert alert-success" role="alert">
<p th:text="${message}">success message</p>
</div>

<table class="table table-striped">
<thead>
<tr>
<th>#</th>
<th th:text="#{label.title}">Title</th>
<th th:text="#{label.postedon}">Posted On</th>
<th th:text="#{label.slug}">Slug</th>
<th th:text="#{label.author}">Author</th>
<th th:text="#{label.view}">View</th>
<th th:text="#{label.edit}">Edit</th>
<th th:text="#{label.delete}">Delete</th>
</tr>
</thead>

<tbody>
<tr th:each="post,iterator :${posts}">
<td th:text="${iterator.count}"></td>
<td th:text="${post.title}">title</td>
<td th:text="${#calendars.format(post.postedOn,'dd/MM/yyyy hh:mm:ss a')}">posted on</td>
<td th:text="${post.slug}">slug</td>
<td th:text="${post.author.firstName+' '+ post.author.lastName}">author</td>
<td><a href="#" th:href="@{/admin/post/}+${post.id}" th:text="#{label.view}">View</a></td>
<td><a href="#" th:href="@{/admin/post/edit/}+${post.id}" th:text="#{label.edit}">Edit</a></td>
<td><a href="#" th:href="@{/admin/post/delete/}+${post.id}" th:text="#{label.delete}">Delete</a></td>
</tr>
</tbody>
</table>

<a th:href="@{/admin/post/create}" th:text="#{label.addpost}">Add New Post</a>
<br><br>


<div><p th:if="${posts.size()==0}" th:text="#{label.nopost}">No Posts Found.</p></div>

</div>