<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/main">
<head>
<title>List Post</title>

<body>

<div layout:fragment="content">

<h2 th:text="#{heading.authors}">Auhtors</h2>

<div th:if="${message}" class="alert alert-success" role="alert">
<p th:text="${message}">success message</p>
</div>

<table class="table table-striped">
<thead>
<tr>
<th>#</th>
<th th:text="#{label.firstname}">First Name</th>
<th th:text="#{label.lastname}">Last Name</th>
<th th:text="#{label.email}">Email</th>
<th th:text="#{label.edit}">Edit</th>
<th th:text="#{label.delete}">Delete</th>
</tr>
</thead>

<tbody>
<tr th:each="author,iterator :${authors}">
<td th:text="${iterator.count}"></td>
<td th:text="${author.firstName}">First Name</td>
<td th:text="${author.lastName}">Last Name</td>
<td th:text="${author.email}">Email</td>
<td><a th:href="@{/admin/author/edit/}+${author.id}" th:text="#{label.edit}">Edit</a></td>
<td><a th:href="@{/admin/author/delete/}+${author.id}" th:text="#{label.delete}">Delete</a></td>
</tr>
</tbody>
</table>

<a th:href="@{/admin/author/create}" th:text="#{label.addauthor}">Add New Author</a>
<br><br>

<div> <p th:if="${authors.size()==0}" th:text="#{label.noauthor}"> No Posts Found.</p></div>

</div>